[user]
  name = Kenji Miyake
  email = kenji.miyake@tier4.jp
[core]
  editor = vim
  autocrlf = input
  ignorecase = false
[credential]
  helper = cache
[init]
  defaultBranch = main
[pull]
  ff = only
[merge]
  ff = false
[url "git@github.com:"]
  insteadOf = https://github.com/
[rerere]
  enabled = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
